
<%= render 'partials/modals' %>
<%= render 'partials/sidebar', locals: {category: :pages, subcategory: :feed} %>
<%= render 'partials/sidebar-sm', locals: {category: :pages, subcategory: :feed} %>
<%= render 'partials/topnav', locals: {category: :pages, subcategory: :feed} %>
<div class="main-content bg-fixed-bottom">

      <%= render 'partials/topbar' %>

    <div class="container-fluid">

      <div class="row justify-content-center">
          <div class="col-12 col-lg-12 col-xl-12">
            
            <!-- Header -->
            <div class="header">
              <div class="header-body">
                
                <!-- Pretitle -->
                <h6>
                   <a href="/financial.html" class="header-pretitle">
                    <i class="fe fe-chevron-left"></i> Financial wellbeing
                  </a>
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  Purchase giftcards
                </h1>

              </div>
            </div>

          <div class="row justify-content-center">
            <!-- Filters -->
            <div class="col-2 col-lg-2 col-xl-2 d-none d-lg-block">

              <h3 class="ml-3 mt-0">Categories</h3>
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Entertainment</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Fitness</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Food</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Delivery</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Home</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Pet</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Family</a>
              </div>

              <h3 class="ml-3 mt-5">Filters</h3>
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Recommended</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Trending</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Largest savings</a>
              </div>
            </div>
            <!-- Filters end -->
            <!-- marketplace start -->
            <div class="col-md-12 col-lg-10 col-xl-10">

            <div class="col-md-12">
              <form>
                <div class="input-group input-group-lg input-group-merge">
                  <input type="text" class="form-control form-control-prepended search" placeholder="Search">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <span class="fe fe-search"></span>
                    </div>
                  </div>
                </div>

                <a href="#modalDemo1" class="btn btn-block btn-primary mb-4 mt-2 d-lg-none" data-toggle="modal">
                  Menu
                </a>


            <div class="row mt-4">
              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>

              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>

              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>

              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>

              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>

              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>

              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                 <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>

              <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
                <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Brand name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>


            </div>
                  


                  

<br>
<br>
                    </div>

<br>
<br>