
<%= render 'partials/modals' %>
<%= render 'partials/sidebar', locals: {category: :pages, subcategory: :project} %>
<%= render 'partials/sidebar-sm', locals: {category: :pages, subcategory: :project} %>
<%= render 'partials/topnav', locals: {category: :pages, subcategory: :project} %>
<div class="main-content">

      <%= render 'partials/topbar' %>

      <!-- HEADER -->
      <div class="header">
        <div class="container-fluid">
          
          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar avatar-lg">
                  <img src="<%= asset_pack_path 'media/images/avatars/profiles/avatar-2.jpg' %>" alt="..." class="avatar-img rounded-circle" >
                </div>

              </div>
              <div class="col ml-n3 ml-md-n2">
                
                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  My profle
                </h6>

                <!-- Title -->
                <h2 class="header-title">
                  Lewis Collins
                </h2>

              </div>
              
            </div> <!-- / .row -->
            <div class="row align-items-center">
              <div class="col">
                
               <!-- Nav -->
                <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                    <a href="my_profile.html" class="nav-link">
                      Overview
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="my_details.html" class="nav-link">
                      Details
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="my_security.html" class="nav-link active">
                      Security
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="my_notifications.html" class="nav-link">
                      Notifications
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </div>
      </div> <!-- / .header -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="alert alert-success" style="display: none;">
              You've been gifted £20.00 to choose your own, personalised perks from our <a href="https://www.w3schools.com" class="text-white">Marketplace</a>

              <!-- Close -->
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>

            </div>
          </div>
        </div>
      </div>

<div class="container-fluid">

  <div class="row">
          <div class="col-sm-12 col-lg-6 col-x-6">

            <div class="row justify-content-between align-items-center mb-5">
              <div class="col-12 col-md-9 col-xl-7">

                <!-- Heading -->
                <h2 class="mb-2">
                  Two factor security
                </h2>

                <!-- Text -->
                <p class="text-muted mb-md-0">
                  Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to log in.
                </p>

              </div>
              <div class="col-12 col-md-auto">

                <!-- Button -->
                <button class="btn btn-primary">
                  Enable
                </button>

              </div>
            </div>

            <div class="card">
              <div class="card-body">

                <!-- List group -->
                <div class="list-group list-group-flush my-n3">
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">

                        <!-- Heading -->
                        <h4 class="mb-1">
                          Authenticator app
                        </h4>

                        <!-- Text -->
                        <small class="text-muted">
                          Google auth or 1Password
                        </small>

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        <button class="btn btn-sm btn-white">
                          Setup
                        </button>

                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">

                        <!-- Heading -->
                        <h4 class="mb-1">
                          SMS Recovery <i class="fe fe-info text-muted ml-1" data-toggle="tooltip" data-title="We use the the phone number you provide in Details" data-original-title="" title=""></i>
                        </h4>

                      

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        <button class="btn btn-sm btn-danger">
                          Disable
                        </button>

                      </div>
                    </div> <!-- / .row -->
                  </div>
                </div>

              </div>
            </div>

            <hr class="my-5">

            <div class="row justify-content-between align-items-center mb-5">
              <div class="col-12 col-md-9 col-xl-7">

                <!-- Heading -->
                <h2 class="mb-2">
                  Change your password
                </h2>

                <!-- Text -->
                <p class="text-muted mb-xl-0">
                  We'll' email you a confirmation when changing your password. Keep a look out after submitting.
                </p>

              </div>
              <div class="col-12 col-xl-auto">

                <!-- Button -->
                <button class="btn btn-white">
                  Forgot your password?
                </button>

              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 order-md-2">

                <!-- Card -->
                <div class="card bg-light border ml-md-4">
                  <div class="card-body">

                    <!-- Text -->
                    <p class="mb-2">
                      Password requirements
                    </p>

                    <!-- Text -->
                    <p class="small text-muted mb-2">
                      To create a new password, you have to meet all of the following requirements:
                    </p>

                    <!-- List group -->
                    <ul class="small text-muted pl-4 mb-0">
                      <li>
                        Minimum 8 character
                      </li>
                      <li>
                        At least one special character
                      </li>
                      <li>
                        At least one number
                      </li>
                      <li>
                        Can’t be the same as a previous password
                      </li>
                    </ul>

                  </div>
                </div>

              </div>
              <div class="col-12 col-md-6">

                <!-- Form -->
                <form>

                  <!-- Password -->
                  <div class="form-group">

                    <!-- Label -->
                    <label>
                      Current password
                    </label>

                    <!-- Input -->
                    <input type="password" class="form-control">

                  </div>

                  <!-- New password -->
                  <div class="form-group">

                    <!-- Label -->
                    <label>
                      New password
                    </label>

                    <!-- Input -->
                    <input type="password" class="form-control">

                  </div>

                  <!-- Confirm new password -->
                  <div class="form-group">

                    <!-- Label -->
                    <label>
                      Confirm new password
                    </label>

                    <!-- Input -->
                    <input type="password" class="form-control">

                  </div>

                  <!-- Submit -->
                  <button class="btn btn-block btn-primary lift" type="submit">
                    Update password
                  </button>

                </form>

              </div>
            </div>

            <hr class="my-5">

            <div class="row justify-content-between align-items-center mb-5">
              <div class="col-12 col-md-9 col-xl-7">

                <!-- Heading -->
                <h2 class="mb-2">
                  Device History
                </h2>

                <!-- Text -->
                <p class="text-muted mb-xl-0">
                  If you see a device here that you believe wasn’t you, please contact our account <a href="#!">security department</a> immediately.
                </p>

              </div>
              <div class="col-12 col-xl-auto">

                <!-- Button -->
                <button class="btn btn-white">
                  Log out all devices
                </button>

              </div>
            </div>

            <div class="card">
              <div class="card-body">

                <!-- List group -->
                <div class="list-group list-group-flush my-n3">
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">

                        <!-- Icon -->
                        <i class="fe fe-smartphone h1"></i>

                      </div>
                      <div class="col ml-n2">

                        <!-- Heading -->
                        <h4 class="mb-1">
                          iPhone 11
                        </h4>

                        <!-- Text -->
                        <small class="text-muted">
                          London · <time datetime="2020-04-20T16:16">April 20 at 4:16pm</time>
                        </small>

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        <button class="btn btn-sm btn-white">
                          Log out
                        </button>

                      </div>
                    </div>
                  </div>
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">

                        <!-- Icon -->
                        <i class="fe fe-monitor h1"></i>

                      </div>
                      <div class="col ml-n2">

                        <!-- Heading -->
                        <h4 class="mb-1">
                          iMac OSX · <span class="font-weight-normal">Safari 10.2</span>
                        </h4>

                        <!-- Text -->
                        <small class="text-muted">
                          London <time datetime="2020-04-20T16:16">April 20 at 4:16pm</time>
                        </small>

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        <button class="btn btn-sm btn-white">
                          Log out
                        </button>

                      </div>
                    </div>
                  </div>
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">

                        <!-- Icon -->
                        <i class="fe fe-smartphone h1"></i>

                      </div>
                      <div class="col ml-n2">

                        <!-- Heading -->
                        <h4 class="mb-1">
                          iPhone 11
                        </h4>

                        <!-- Text -->
                        <small class="text-muted">
                          London <time datetime="2020-04-20T16:16">April 20 at 4:16pm</time>
                        </small>

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        <button class="btn btn-sm btn-white">
                          Log out
                        </button>

                      </div>
                    </div>
                  </div>
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col-auto">

                        <!-- Icon -->
                        <i class="fe fe-monitor h1"></i>

                      </div>
                      <div class="col ml-n2">

                        <!-- Heading -->
                        <h4 class="mb-1">
                          iMac OSX · <span class="font-weight-normal">Safari 10.2</span>
                        </h4>

                        <!-- Text -->
                        <small class="text-muted">
                          London <time datetime="2020-04-20T16:16">April 20 at 4:16pm</time>
                        </small>

                      </div>
                      <div class="col-auto">

                        <!-- Button -->
                        <button class="btn btn-sm btn-white">
                          Log out
                        </button>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>


            
                  </div> <!-- / .row -->
                </div>
              </div>


            </div>

            

      
       

        

    <script src="/packs/js/application-0f5494508ed28de5e9bd.js"></script>

  

</div></div></div>


            

      
       

        
