
<%= render 'partials/modals' %>
<%= render 'partials/sidebar', locals: {category: :pages, subcategory: :feed} %>
<%= render 'partials/sidebar-sm', locals: {category: :pages, subcategory: :feed} %>
<%= render 'partials/topnav', locals: {category: :pages, subcategory: :feed} %>
<div class="main-content bg-fixed-bottom">

      <%= render 'partials/topbar' %>

      <!-- HEADER -->
      <div class="header">
        <div class="container-fluid">

          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-end">
              <div class="col-md-12 col-lg-6 col-xl-6">
                
 <!-- Pretitle -->
               

                <!-- Title -->
                <h2 class="header-title mt-4">
                  <i class="fe fe-zap mr-2"></i> Physical wellbeing
                </h2>

              </div>
              <div class="col-md-12 col-lg-6 col-xl-6">

                <!-- Dropdown -->
                    
                    <!-- Dropdown -->
                   

                    </div>

            </div> <!-- / .row -->
          </div> <!-- / .header-body -->

        </div>
      </div> <!-- / .header -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <div class="card mb-2">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-12 col-lg-4 order-lg-2">
                  
                      <!-- Image -->
                      <div class="text-center">
                        <img src="<%= asset_pack_path 'media/images/illustrations/fitness3.svg' %>" alt="..." class="img-fluid" style="max-width: 100px;">
                      </div>

                    </div>
                    <div class="col-12 col-lg-8 px-4 py-3 order-lg-1">
                      
                      <!-- Title -->
                      <h2>
                        Keeping fit
                      </h2>

                      <!-- Content -->
                      <p class="text-muted">
                        Stay healthy with access to hundreds of online courses and workouts
                      </p>

                      <!-- Button -->
                      <a href="/fitness.html" class="btn btn-primary lift">
                        Explore
                      </a>

                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card mb-2">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-12 col-lg-4 order-lg-2">
                  
                      <!-- Image -->
                     <div class="text-center">
                        <img src="<%= asset_pack_path 'media/images/illustrations/nutrition2.svg' %>" alt="..." class="img-fluid" style="max-width: 80px;">
                      </div>

                    </div>
                    <div class="col-12 col-lg-8 px-4 py-3 order-lg-1">
                      
                      <!-- Title -->
                      <h2>
                        Eating well
                      </h2>

                      <!-- Content -->
                      <p class="text-muted">
                        Access the most up to date advice on how optimise your nutrition
                      </p>

                      <!-- Button -->
                      <a href="/nutrition" class="btn btn-primary lift">
                        Explore
                      </a>

                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card mb-2">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-12 col-lg-4 order-lg-2">
                  
                      <!-- Image -->
                     <div class="text-center">
                        <img src="<%= asset_pack_path 'media/images/illustrations/tracker2.svg' %>" alt="..." class="img-fluid" style="max-width: 100px;">
                      </div>

                    </div>
                    <div class="col-12 col-lg-8 px-4 py-3 order-lg-1">
                      
                      <!-- Title -->
                      <h2>
                        Staying on track
                      </h2>

                      <!-- Content -->
                      <p class="text-muted">
                        Link your phone to track your activity levels and win rewards
                      </p>

                      <!-- Button -->
                      <a href="#" class="btn btn-primary lift">
                        Learn more
                      </a>

                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>
          </div>
        </div>


        <hr>

        <div class="col-sm">
            <h3 class="mt-5 mb-4">Recommended for you <span><a href="/allphysical.html" class="small ml-3">View all <i class="fe fe-chevron-right"></i></a></span></h3>
          </div>

        <div class="row">
              <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
                <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Course name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
                <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Live event</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
                <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Course name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
                <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Content</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>

              <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
                <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Live event</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
                <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Course name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
                <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Content</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>

              <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
                <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Course name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>

               <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
                <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Live event</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
                <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Course name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
                <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Content</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>

              <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12">
                <div class="card">
                  <div class="card-body">

                    <!-- Title -->
                    <div class="text-center">
                      <h2 class="mt-5 mb-5">Course name</h2>
                    </div>

                  </div> <!-- / .card-body -->
                </div>
              </div>
              
              </div>


            </div>

            <div class="row">
              <br>
            </div>




        

           

      </div>
        </div>
      </div>
      
    </div>
