
<%= render 'partials/modals' %>
<%= render 'partials/sidebar', locals: {category: :pages, subcategory: :project} %>
<%= render 'partials/sidebar-sm', locals: {category: :pages, subcategory: :project} %>
<%= render 'partials/topnav', locals: {category: :pages, subcategory: :project} %>
<div class="main-content">

      <%= render 'partials/topbar' %>

      <!-- HEADER -->
      <div class="header">
        <div class="container-fluid">
          
          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-auto">

                <!-- Avatar -->
                 <div class="avatar avatar-lg">
                    <span class="avatar-title rounded-circle">P</span>
                  </div>

              </div>
              <div class="col ml-n3 ml-md-n2">
                
                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Company profle
                </h6>

                <!-- Title -->
                <h2 class="header-title">
                  Perkbox
                </h2>

              </div>
              
            </div> <!-- / .row -->
            <div class="row align-items-center">
              <div class="col">
                
               <!-- Nav -->
                 <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                    <a href="team_profile.html" class="nav-link">
                      Overview
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="team_members2.html" class="nav-link">
                      People
                    </a>
                  </li>
                   <li class="nav-item">
                    <a href="team_sub.html" class="nav-link">
                      Teams
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="team_details.html" class="nav-link active">
                      Settings
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="team_bill.html" class="nav-link">
                      Billing
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </div>
      </div> <!-- / .header -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="alert alert-success" style="display: none;">
              You've been gifted £20.00 to choose your own, personalised perks from our <a href="https://www.w3schools.com" class="text-white">Marketplace</a>

              <!-- Close -->
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>

            </div>
          </div>
        </div>
      </div>

<div class="container-fluid">

  <div class="row">
          <div class="col-sm-12 col-lg-6 col-xl-6">

            <!-- Form -->
      <form class="mb-4">

        <div class="row">
          <div class="col-12 col-md-12">

            <div class="row justify-content-between align-items-center mb-4">
                <div class="col">
                  <div class="row align-items-center">
                    <div class="col-auto">

                      <!-- Avatar -->
                      <div class="avatar">
                        <span class="avatar-title rounded-circle">P&amp;E</span>
                      </div>

                    </div>
                    <div class="col ml-n2">

                      <!-- Heading -->
                      <h4 class="mb-1">
                        Company avatar
                      </h4>

                      <!-- Text -->
                      <small class="text-muted">
                        PNG or JPG no bigger than 1000px wide and tall.
                      </small>

                    </div>
                  </div> <!-- / .row -->
                </div>
                <div class="col-auto">

                  <!-- Button -->
                  <button class="btn btn-sm btn-primary">
                    Upload
                  </button>

                </div>
              </div>

              <hr class="my-5">
            
            <!-- First name -->
            <div class="form-group">

              <!-- Label -->
              <label>
                Company name
              </label>

              <!-- Input -->
              <input type="text" class="form-control" value="Perkbox">

            </div>

          </div>
          <div class="col-12 col-md-12">

             <!-- Team members -->
              <div class="form-group">
                <label>
                  Company values
                </label>
                <select class="form-control" data-toggle="select" multiple>
                  <option active >Value 1</option>
                  <option>Value 2</option>
                  <option>Value 3</option>
                  <option>Value 4</option>
                </select>
              </div>
            
            

          </div>
          </div>

        <button type="button" class="btn btn-primary mb-2 mt-2 btn-block">Save</button>


            
                  </form></div> <!-- / .row -->
                </div>
              </div>
            </div>

            

      
       

        

    <script src="/packs/js/application-0f5494508ed28de5e9bd.js"></script>

  

</div></div></div>


            

      
       

        
