
<%= render 'partials/modals' %>
<%= render 'partials/sidebar', locals: {category: :pages, subcategory: :project} %>
<%= render 'partials/sidebar-sm', locals: {category: :pages, subcategory: :project} %>
<%= render 'partials/topnav', locals: {category: :pages, subcategory: :project} %>
<div class="main-content">

      <%= render 'partials/topbar' %>

      <!-- HEADER -->
      <div class="header">
        <div class="container-fluid">
          
          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-auto">

               <!-- Avatar -->
                 <div class="avatar avatar-lg">
                    <span class="avatar-title rounded-circle">P</span>
                  </div>

              </div>
              <div class="col ml-n3 ml-md-n2">
                
                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Company profle
                </h6>

                <!-- Title -->
                <h2 class="header-title">
                  Perkbox
                </h2>

              </div>
              
            </div> <!-- / .row -->
            <div class="row align-items-center">
              <div class="col">
                
               <!-- Nav -->
                 <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                    <a href="team_profile.html" class="nav-link">
                      Overview
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="team_details.html" class="nav-link">
                      Details
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="team_members2.html" class="nav-link">
                      People
                    </a>
                  </li>
                   <li class="nav-item">
                    <a href="team_sub.html" class="nav-link">
                      Teams
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="team_feed.html" class="nav-link active">
                      Feedback
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="team_bill.html" class="nav-link">
                      Billing
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </div>
      </div> <!-- / .header -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12">
            <div class="alert alert-success" style="display: none;">
              You've been gifted £20.00 to choose your own, personalised perks from our <a href="https://www.w3schools.com" class="text-white">Marketplace</a>

              <!-- Close -->
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>

            </div>
          </div>
        </div>
      </div>

<div class="container-fluid">
            <div class="card card-inactive">
              <div class="card-body text-center">

                <!-- Image -->
                
                
                <!-- Title -->
                <h2>
                  No confidential feedback has been submitted
                </h2>

                <!-- Subtitle -->

                <p class="text-muted">
                  Confidential feedback can be submitted by your company from the Emotional Wellbeing hub
                </p>

                <!-- Button -->
               

              </div>
            </div>
            
          </div>



           


    <script src="/packs/js/application-4ac0f01db9fdc19bc5f0.js"></script>

  

</div></div></div>

            

      
       

        

    <script src="/packs/js/application-0f5494508ed28de5e9bd.js"></script>

  

</div></div></div>


            

      
       

        
