
<%= render 'partials/modals' %>
<%= render 'partials/sidebar', locals: {category: :pages} %>
<%= render 'partials/sidebar-sm', locals: {category: :pages} %>
<%= render 'partials/topnav', locals: {category: :pages} %>
<div class="main-content">

<%= render 'partials/topbar' %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 col-xl-12">
      
      <!-- Header -->
      <div class="header">
        <div class="header-body mt-4">
          <div class="row align-items-center">
            <div class="col">
              
              <!-- Pretitle -->
              <h6 class="header-pretitle">
                Your profile
              </h6>

              <!-- Title -->
              <h2 class="header-title">
                Manage your settings
              </h2>

            </div>
          </div> <!-- / .row -->
          <div class="row align-items-center">
            <div class="col">
              
              <!-- Nav -->
              <ul class="nav nav-tabs nav-overflow header-tabs">
                <li class="nav-item">
                  <a href="#!" class="nav-link active">
                    Overview
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#!" class="nav-link">
                    Details
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#!" class="nav-link">
                    Interests
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#!" class="nav-link">
                    Notifications
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#!" class="nav-link">
                    Security
                  </a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>

      <!-- Form -->
      <form class="mb-4">

         <div class="row">
          <div class="col-12 col-lg-6 col-xl">

            <!-- Value  -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h6 class="text-uppercase text-muted mb-2">
                      All Moments
                    </h6>

                 

                    <h2 class="card-title mb-1">
                      <a href="#">23</a>
                      <span class="badge badge-soft-primary mt-n1 ml-2">
                      +2 this week
                    </span>
                    </h2>


                  </div>
                  <div class="col-auto">

                    <!-- Icon -->
                    <span class="h2 fe fe-chevron-right text-muted mb-0"></span>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>

          </div>
          <div class="col-12 col-lg-6 col-xl">

            <!-- Hours -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h6 class="text-uppercase text-muted mb-2">
                      Connected moments
                    </h6>

                   <h2 class="card-title mb-1">
                      <a href="#">11</a>
                    </h2>

                  </div>
                  <div class="col-auto">

                    <!-- Icon -->
                    <span class="h2 fe fe-chevron-right text-muted mb-0"></span>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>

          </div>
          <div class="col-12 col-lg-6 col-xl">

            <!-- Exit -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h6 class="text-uppercase text-muted mb-2">
                      Unforgettable moments
                    </h6>

                    <!-- Heading -->
                    <h2 class="card-title mb-1">
                      <a href="#">5</a>
                    </h2>

                  </div>
                  <div class="col-auto">

                    <!-- Icon -->
                    <span class="h2 fe fe-chevron-right text-muted mb-0"></span>

                  </div>
                </div> <!-- / .row -->
              </div>
            </div>

          </div>
          </div>

        <div class="row">
          <div class="col-12 col-xl-12">

            <!-- Activity -->
            <div class="card card-fill">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h4 class="card-header-title">
                      Recent activity
                    </h4>

                  </div>
                  <div class="col-auto">

                    <!-- Link -->
                    <a class="small" href="#!">
                      View all
                    </a>

                  </div>
                </div> <!-- / .row -->
              </div>
              <div class="card-body">

                <!-- List group -->
                <div class="list-group list-group-flush list-group-activity my-n3">
                  <div class="list-group-item">
                    <div class="row">
                      <div class="col-auto">

                        <!-- Avatar -->
                       <div class="avatar">
                        <img src="/packs/media/images/bill-d4c8cffe2d9c2a7a02ae5a803bfee424.jpg" class="avatar-title rounded-circle" alt="...">
                      </div>

                      </div>
                      <div class="col ml-n2">

                        <!-- Heading -->
                        <h5 class="mb-1">
                          Bill Hewitt
                        </h5>

                        <!-- Text -->
                        <p class="small text-gray-700 mb-0">
                          Purchased Gift
                        </p>

                        <!-- Time -->
                        <small class="text-muted">
                          2m ago
                        </small>

                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item">
                    <div class="row">
                      <div class="col-auto">

                        <!-- Avatar -->
                      <div class="avatar">
                        <img src="/packs/media/images/bill-d4c8cffe2d9c2a7a02ae5a803bfee424.jpg" class="avatar-title rounded-circle" alt="...">
                      </div>

                      </div>
                      <div class="col ml-n2">

                        <!-- Heading -->
                        <h5 class="mb-1">
                          Bill Hewitt
                        </h5>

                        <!-- Text -->
                        <p class="small text-gray-700 mb-0">
                          Many thanks for the warm welcome
                        </p>

                        <!-- Time -->
                        <small class="text-muted">
                          1h ago
                        </small>

                      </div>
                    </div> <!-- / .row -->
                  </div>
                  <div class="list-group-item">
                    <div class="row">
                      <div class="col-auto">

                        <!-- Avatar -->
                       <div class="avatar">
                        <img src="/packs/media/images/bill-d4c8cffe2d9c2a7a02ae5a803bfee424.jpg" class="avatar-title rounded-circle" alt="...">
                      </div>

                      </div>
                      <div class="col ml-n2">

                        <!-- Heading -->
                        <h5 class="mb-1">
                          Bill Hewitt
                        </h5>

                        <!-- Text -->
                        <p class="small text-gray-700 mb-0">
                          Reacted to moment from Luke Fisher
                        </p>

                        <!-- Time -->
                        <small class="text-muted">
                          3h ago
                        </small>

                      </div>
                    </div>
                    <!-- / .row -->
                  </div>
                </div>

              </div>
            </div>

          </div>
          

          </div>
        </div>

        </div>



      </form>

    </div>
  </div> <!-- / .row -->
</div>

</div>
